@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
  * {
      margin: 0;
      padding: 0;
  }
body{
    font-family: 'Luckiest Guy', cursive;
}
  
  .heading {
      background-color: rgb(236, 236, 91);
      height: 30px;
      text-align: center;
      justify-content: center;
      padding: 10px;
  }

  .heading h1 {
      text-align: center;
      color: red;
  }

  .numbers {
      height: 40px;
      width: 40px;
      cursor: pointer;
      border: 2px solid red;
      padding: 10px;
      margin: 20px;
      text-align: center;
      justify-content: center;

  }

  .table {
      display: flex;
      flex-wrap: wrap;
      background-color: rgb(243, 140, 243);
      font-size: 25px;
      text-align: center;
      justify-content: center;

      /* height: 67vh; */
      height: 67vh;

      min-height: fit-content;

  }

  .numbers:hover {
      /* padding: 50px; */
      height: 60px;
      width: 60px;
      background-color: rgb(255, 89, 89);
      font-size: 50px;
      transition: all 0.5s ease-in-out;
  }

  .written {
      /* height: 20px; */
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 19px;
      font-size: 65px;
      background-color: rgb(172, 247, 172);
      
  }

  .text-footer {
      background-color: black;
      color: white;
      text-align: center;
      height: 21px;
  }

  @media only screen and (max-width: 1100px) {
    .table{
      height: 82vh;
    }
  }
  @media only screen and (max-width: 768px) {
    .table{
        height: fit-content;
        /* height: 67vh; */
      min-height: fit-content;
    }
    .text-footer{
        height: fit-content;
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navlist{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .navlist li a{
        padding-top: 10px;
    }
    #logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 34px;
    }
    .heading{
        font-size: 0.6rem;
        padding: 0px;
        height: 24px;
    }
    .written{
        position: sticky;
        top: 60px;
        font-size: 2.3rem;
    }
    .numbers{
        height: 30px;
        font-size: 1.5rem;
        padding: 9px;
        line-height: 15px;
    }
    .numbers:hover{
    height: 40px;
    line-height: 39px;
    width: 39px;
    font-size: 2rem;
    }
    
  }